* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html , body {
  height: 100%;
}

.chat {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: 10px;
  padding: 2rem;
}

.main-section {
  display: flex;
  justify-content: space-between;
  width: 60vw;
}

.div-input-button {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 60vw;
}

.message , .username {
  border: 1px solid #ddd;
  font-size: 1.5rem;
  height: 5rem;
  padding: 0 2rem;
  width: 75%;
}

button {
  background: purple;
  border: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  height: 5rem;
  text-align: center;
  width: 20%;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.messages , .online-users {
  border: 1px solid #ddd;
  height: 30vw;
  margin: 2rem 0;
  padding: 2rem;
}

.messages {
  width: 70%;
}

.online-users {
  width: 25%;
}
